<h2>Help</h2>

<h3>Overview</h3>

<p>import::require is a sort-of social network. It is only sort-of in that the main focus of the site is not the users, but the users productions, their <em>works</em>. This site is envisioned to be a place where you can list all the projects that you are proud of, where you can see others' work and give your vote of approval (or disapproval).</p>
<p>Most of all, this is a place of peer-review and team building. Those who excel at what they do will be recognised by their peers and, hopefully from this, the seeds of the new generation of hacking teams will be sown.</p>

<h3>Getting Started</h3>

<p>To start, click the logo in the top left, and then find your way to the registration page. After the relatively easy registration process, you may notice your profile page has an odd avatar. IR uses <a href="http://gravatar.com" class="white" target="_blank">Gravatar</a> for all of it's avatars, which means that no pictures are ever stored on our servers, and you can control your images from a central place.</p>

<p>If you want to edit any of the information you entered at registration (except your handle, that's permanent I'm afraid, follow the "edit profile" link on your page". Here you can edit your notification and privacy settings, as well as set any affiliations you might have.</p>

<p>Affiliations are acronyms which appear on your profile to signify membership to a given group. For example, the import::require team would use "IR".</p>

<h3>Searching</h3>

<p>As with most content driven sites, the main focus and drive is the search box (which, if you've not noticed, is on the top of the site). Doing an empty search will give you a list of the most recently active users and works, whilst searching with terms will give you - as you would expect - a list of users and works which match those criteria.</p>

<h3>User Tags</h3>

<p>To better position yourself in search results, you have the opportunity to enter your own "tags". These can be keywords regarding your work, programming languages you use, or anything! Bear in mind, these user generated tags are weighted low in the search algorithm, so you cannot manipulate the results too much ;-) </p>

<h3>Adding Works</h3>

<p>Adding works is very simple! Go to the "edit works" link on your profile, and fill in the form to add a piece of your work. At the moment it is very simple, but many improvements are coming its way. Current pieces of work can also be edited and deleted from this page. Tags are entered in the same way as user tags, and can be comma delimited for ease of use.</p>

<h3>Rating Works</h3>

<p>Rating works on IR is designed to be as intuitive as possible. 3 simple rules: You cannot rate yourself, you can give one rating to a piece of work once, you can change that rating at anytime.</p>

<p>Moreover the way that ratings are calculated means that if you have highly rated work in the same area as what you are rating, your opinion will count more. This has been tweaked to minimise trolling, and allows for the good to really shine through.</p>

<p>Ratings are displayed on the right hand side of any work listings. They run from 0 &lt; r &lt; 5. Your personal rating of the work is highlighted.</p>

<h3>Development</h3>

<p>If you are interested in the future direction and progress of IR, may I suggest you follow the blog, of which a link to can be found below.</p>
