table#innermessagelist {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table#innermessagelist th {
  border: 1px solid #ccc;
  color: #000;
	background: #555;
  text-align: left;
  padding-left: 1em;
}


table#innermessagelist td {
  border: 1px solid #ccc;
  text-align: left;
  padding-left: 1em;
}

table#innermessagelist td.read {
  font-weight: bold;
}

span#message_view_body {
  padding-left: 1em;
}
span#message_view_body pre {
	margin-left: 1em;
	margin-right: 1em;
  padding: 1em;
  border: 1px solid #ccc;
}

table#innermessagelist th.message_controls {
  width: 15em;
}

table#innermessagelist td.message_controls {
  text-align: right;
}

span#compose_to {
  display: block;
  margin-bottom: 1em;
	padding-left: 1em;
}


span#compose_subject {
  display: block;
  margin-bottom: 1em;
	padding-left: 1em;
}

span#compose_subject input{
  width: 50%;
}

span#compose_body {
  display: block;
  margin-bottom: 1em;
	padding-left: 1em;
}

span#compose_body_padding {
  margin-top: 1em;
  padding-right: 1em;
  display: block;
}

span#compose_body textarea{
  width: 100%;
  height: 10em;
  border: 1px solid #000;
  resize: none
}

div#message_details p {
	padding-left: 1em;
}

div#inbox_controls {
	padding-left: 10%;
}
