
 div#edit {
   text-align: center;
   margin: auto;
 }

 h2 {
	 text-align: left;
	 padding-left: 1em;
 }

 /*
 *a.white {
 *        color: #ccc;
 *}
 */

	div#edit div * {
		text-align: left;
	} 
 
 div#userav {
 
   width: 220px;
   display: inline-block;
   vertical-align: top;
   margin-right: 5%;
 }

/*
 *div#userav p a{
 *        color: #ccc;
 *}
 */
 div#usereditform {
   width: 25%;
   display: inline-block;
   vertical-align: top;
   margin-right: 5%;
 }

 
 div#usereditform table {
   width: 100%;
 }
 
 div#usereditform table input {
   width: 100%;
 }
 

 div#affileditform {
   width: 25%;
   display: inline-block;
   vertical-align: top;
 }


 div#affileditform form {
   margin-top: 1em;
 }
 
 div#affileditform table {
   width: 100%;
 }
 *
 div#affileditform table input {
   width: 100%;
 }
 
 div#affillist * {
         text-align: center;
   width: 100%;
 }
 
 
