

div#infobox {
        display: inline-block;
        width: 210px;
        margin: 2%;
        padding: 1em;
				border-right: 1px solid #000;
}                       

div#workinfo {
        display: inline-block;
        vertical-align: top;
				max-width: 53%;
				width: 1300px;
        text-align: left;
        margin: 0 auto 0 auto;
}


div#workinfo h2 {
	padding: 0;
}

div#userav{
  width: 100%;
}

div#userav img{
  /*margin: 0 auto;*/
  display: block;
}

/*
 *div#infobox {
 *        display: inline-block;
 *        width: 34%;
 *}                       
 *div#userav img {
 *
 *        width: auto;
 *        }
 *
 *div#menubox a{
 *        color: #ccc;
 *}
 *
 *div#workinfo {
 *        display: inline-block;
 *        vertical-align: top;
 *        width: 64%;
 *        text-align: right;
 *        margin: 0 auto 0 auto;
 *}
 *
 *div#workinfo * {
 *        text-align: left;
 *}
 *
 *div#userworklist_repop {
 *        color: #000;
 *}
 *
 *div#userworklist_repop a {
 *        color: #000;
 *}
 *
 */
