div#editworks {
	text-align: center;
	margin: auto;
}

div#editworks div * {
	text-align: left;
}

div#worklist {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-right: 30px;
	vertical-align: top;
}

ul#innerworklist{
	width: 90%;
	padding: 0;
	text-align: center;
	margin: 0 auto 0 0;
}

ul#innerworklist li{
	margin: 0;
	margin-bottom: 10px;
	list-style-type: none;
	
}

div.work {
	display: block;
	background: #726280;
	padding: 2px;
	/*border: #000000 1px solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;*/
}


ul#innerworklist span.title{
	display: block;
  font-family: bold;
  text-decoration: underline;
	font-size: large;
	margin-bottom: 6px;
}

ul#innerworklist span.url{
	display: block;
	margin-bottom: 4px;
}

ul#innerworklist span.delete{
	display: block;
}

ul#innerworklist span.desc{
	display: block;
	margin-bottom: 4px;
}

div#workeditform {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
