<div id="frontmatterimage">
	<img src=/images/frontmatter.png id="front">
</div>

<div id="frontmattertext" >
	<h2>import::require</h2>
	<hr/>
	<p>A space for developers and hobbyists to aggregate all their project spaces and articles to encourage collaboration, team building, and employer interest.</p>
	<hr/>
	<p>Registration is free and simple</p>
	<%= link_to "Register", register_path, :id => 'register' %>
</div>


