<html>
<head>
<style type="text/css" media='all'>
	body { font-family: monospace; }
</style>
</head>
<body>
<h1>Welcome to import::require, <%=@user.handle%></h1>

<p>You have successfully signed up to importrequire.com,
and your can login using your handle and your password.</p>
 
<p>May your stay at importrequire be a productive one.</p>
  
<p>Regards,</p>
<p>The import::require team</p>
</body></html>
