<% if works.length < 1 %>
  <em>No works listed</em>
<% else %>
	<ul id="innerworklist">
    <% works.each do |w| %>
		<li>
			<div class="work">
        <% if edit %>
          <span class="title"><%= w[:name] %></span>
        <% else %>
          <% if w.users.size > 0 %>
            <span class="title"><%= link_to w[:name], user_name_path(w.users[0].handle) %></span>
            <% else %>
            <span class="title"><%= w[:name] %></span>
          <% end %>
        <% end %>
				<span class="url"><a href="<%= w[:url] %>" target="_blank"><%= w[:url] %></a></span>
				<span class="desc"><%= w[:description] %></span>
          <% 
          tagstr = ""                        
          if w.tags.size > 0
            w.tags.each { |t| tagstr << "#{t.name}, "}
            tagstr = tagstr.slice(0, tagstr.size-2)
          %>
          <span class="tags">Tags:<%= tagstr  %></span>
          <% end %>
				<% if edit %>
				<hr/>
					<span class="delete">
					<%= link_to "edit",
							user_edit_work_path(:handle => session[:user],
																		:wid => w[:id]),
							%>
          |
					<%= link_to "delete",
							user_remove_work_path(:handle => session[:user],
																		:wid => w[:id]),
							:remote => true %></span>
				<% end %>
			</div>
			<div class="rating_holder">
				<%
					score = w.rating
					class_array = []
					(1..5).each do |a|	 
						if score >= a
							class_array << "rating_on"
						else
							class_array << "rating_off"
						end
					end
				%>
				<%(0..4).to_a.reverse.each do |a| %>
					<%= link_to "", user_rate_work_path(:wid => w[:id], :rating => a+1), :class => class_array[a] %>
				<% end %>
			<div>
		</li>
		<% end %>
	</ul>
<% end %>

