<% if works.length < 1 %>
  <em>No works listed</em>
<% else %>
	<ul id="innerworklist">
    <% works.each do |w| %>
		<li>
			<div class="work">
				<span class="title"><%= w[:name] %></span>
				<span class="url"><a href="<%= w[:url] %>"><%= w[:url] %></a></span>
				<span class="desc"><%= w[:description] %></span>
				<% if edit %>
				<hr/>
					<span class="delete">edit |
					<%= link_to "delete",
							user_remove_work_path(:handle => session[:user],
																		:wid => w[:id]),
							:remote => true %></span>
				<% end %>
			</div>
		</li>
		<% end %>
	</ul>
<% end %>

